:host {
  height: 100%;
  display: flex;
  align-items: stretch;
}
.text {
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  position: absolute;
  height: max-content;
  min-width: min-content;
  flex: 0 0 auto;
}
