<div class="row-layout row">
  <div class="column-layout column">
    <h4 class="title">Faster paths to amazing experiences</h4>
  </div>
  <div class="column-layout_1 column">
    <img src="https://static.infragistics.com/marketing/Website/General/Infragistics-horizontal.svg" class="image" />
    <h4 class="title_1">Create your free account</h4>
    <igx-input-group type="border" placeholder="Type your email here.." class="input-group_2">
      <label igxLabel for="inputField">Email</label>
      <input type="text" name="inputField" [required]="true" [disabled]="false" placeholder="Type your email here.." igxInput />
    </igx-input-group>
    <igx-input-group type="border" class="input-group_2">
      <label igxLabel for="inputField">Password</label>
      <input type="password" name="inputField" [required]="true" [disabled]="false" igxInput />
      <igx-suffix>
        <igx-icon font="material" [active]="true" class="icon">remove_red_eye</igx-icon>
      </igx-suffix>
    </igx-input-group>
    <div class="row-layout_1 row">
      <igx-input-group type="border" class="input-group">
        <label igxLabel for="inputField">First Name</label>
        <input type="text" name="inputField" [required]="true" [disabled]="false" igxInput />
      </igx-input-group>
      <igx-input-group type="border" class="input-group_1">
        <label igxLabel for="inputField">Last Name</label>
        <input type="text" name="inputField" [required]="true" [disabled]="false" igxInput />
      </igx-input-group>
    </div>
    <p class="text">The app builder is still a work in progress, so sometimes it may not work exactly as you expect. While it may feel like we are testing you, we are in fact testing how well the solution works for you</p>
    <button igxButton="raised" igxButtonColor="var(--igx-surface-500)" igxButtonBackground="var(--igx-primary-500)" [disabled]="false" class="button">
      <span>Create New Account</span>
    </button>
    <p routerLink="/log-in" class="text_1">Already have an account? Sign in!</p>
  </div>
</div>
